
*{margin:0;padding:0;;box-sizing:border-box;}
#menu-horizontal{list-style-tyle:mome;padding:0;background-image:url(thelast.jpg);}
#menu-horizontal li {display:inline-block;color:white;text-decoration:none;padding:10px;}
#menu-horizontal li a {display:inline-block;color:white;text-decoration:none;padding:10px;transition:background.6s;}
#menu-horizontal li a:hover{background-color:navy;}
body{background-image:url(thelast.jpg);
background-repeat:no-repeat;}
/*body{background-color:black;}*/

h2{color:white;
font-size:20px;
text-decoration:uppercase;

}